langchain
langchain-openai
langchain-community
langchain-core
nltk
pandas
mysql-connector-python==8.4.0
ag2[openai]
pymysql
ipykernel
google-genai
langchain_google_genai
unstructured
python-docx
docx2txt
jq
PyPDF
pypdf
chromadb
streamlit
streamlit-extras
keyboard

